@model List<KTHDV.StudentMVC.Models.Student>;
@{
    ViewData["Title"] = "Student Page";
    @* var students  = ViewBag.ListStudent as List<KTHDV.StudentMVC.Models.Student>; *@
    var students = Model;
} <div class="text-center">
    <h1 class="display-4">Welcome by vnd</h1>
    <table class="table table-striped">
        <thead>
            <th>Id</th>
            <th>Name</th>
            <th>Age</th>
            <th>Address</th>
            <th>Option</th>
            <th><a href="/student/add" class="btn btn-primary">Add</a></th>

        </thead>
        <tbody>
            @foreach (var student in students){
                <tr>
                    <td>@student.Id</td>
                    <td>@student.Name</td>
                    <td>@student.Age</td>
                    <td>@student.Address</td>
                    <td></td>

                </tr>
            }
        </tbody>
    </table>
</div>
